# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pelican
output/
themes/custom/static/css/main.css
configuration/github.py
configuration/cache/

# Sass
.sass-cache

# Other
.DS_Store
