// Foundational and global aspects of the page
* {
    @include box-sizing(border-box);
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: $open-sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}
@media (min-width: 48em) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 58em) {
    html {
        font-size: 20px;
    }
}

body {
    // According to Google's Material Design guidelines, the standard alpha
    // value for text is 87%.
    color: rgba($black, 0.87);
    background-color: $white;
    @include text-size-adjust(100%);
}

// No `:visited` state is required by default (browsers will use `a`)
a {
    color: rgba($blue, 0.87);
    text-decoration: none;
    @include transition(color, 250ms, ease);
}
a strong {
    color: inherit;
}
// `:focus` is linked to `:hover` for basic accessibility
a:hover,
a:focus {
    color: rgba($blue-grey, 0.87);
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 2rem;
}
h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}
h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}
h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

// Body text
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

// Lists
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: .5rem;
}

// Code
code,
pre {
    font-family: $monospace;
}
code {
    padding: .2em .2em;
    font-size: 85%;
    color: rgba($black, 0.87);
    background-color: rgba($black, 0.05);
    border-radius: 3px;
}
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: rgba($black, 0.05);
    // overflow: auto;
}
pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

// Quotes
blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    // According to Google's Material Design guidelines, secondary text, which
    // is lower in the visual hierarchy than standard text, should have an alpha
    // value of 54%.
    color: rgba($black, 0.54);
    border-left: .25rem solid rgba($black, 0.12);
}
blockquote p:last-child {
    margin-bottom: 0;
}
@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
}

// Tables
table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid rgba($black, 0.12);
    border-collapse: collapse;
}
td,
th {
    padding: .25rem .5rem;
    border: 1px solid rgba($black, 0.12);
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: rgba($black, 0.05);
}

// Miscellaneous
hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid rgba($black, 0.12);
    border-bottom: 1px solid $white;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: rgba($black, 0.87);
    text-transform: uppercase;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted rgba($black, 0.12);
}

// Extend paragraphs with `.lead` for larger introductory text.
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

// Turn single elements into "alert" messages, set apart from other text.
.message {
    margin-bottom: 1rem;
    padding: 1rem;
    color: rgba($black, 0.54);
    background-color: rgba($black, 0.05);
}
