@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property, $duration, $timing-function;
    -moz-transition: $property, $duration, $timing-function;
    -ms-transition: $property, $duration, $timing-function;
    -o-transition: $property, $duration, $timing-function;
    transition: $property, $duration, $timing-function;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    -ms-box-sizing: $value;
    -o-box-sizing: $value;
    box-sizing: $value;
}

@mixin text-size-adjust($value) {
    -webkit-text-size-adjust: $value;
    -moz-text-size-adjust: $value;
    -ms-text-size-adjust: $value;
}
