// Used to color the sidebar and links within posts. To use, add a theme class
// (e.g., `.orange-theme`) to the `body`.
.orange-theme .sidebar {
    background-color: $orange;
}
.orange-theme .content a,
.orange-theme .related-posts li a:hover {
    color: $orange;
}

.pomegranate-theme .sidebar {
    background-color: $pomegranate;
}
.pomegranate-theme .content a,
.pomegranate-theme .related-posts li a:hover {
    color: $pomegranate;
}
