// Used to color the sidebar and links within posts. To use, add a theme class
// (e.g., `.blue-grey-theme`) to the `body`.
.blue-grey-theme .sidebar {
    background-color: $blue-grey;
}
.blue-grey-theme .post-title a,
.blue-grey-theme .project-title a {
    color: rgba($blue-grey, 0.87);
    @include transition(color, 250ms, ease);
}
.blue-grey-theme .post-title a:hover,
.blue-grey-theme .post-title a:focus,
.blue-grey-theme .project-title a:hover,
.blue-grey-theme .project-title a:focus, {
    color: rgba($blue, 0.87);
}
