// Fonts for code
$monospace: Menlo, Monaco, monospace;

// Fonts for other content
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;

// Colors
$white: #fff;
$black: #000;
$gray: #555;
$blue: #268bd2;
$orange: #d28445;
$pomegranate: #c0392b;
