// Monospace fonts for code
$monospace: Menlo, Monaco, monospace;

// Montserrat (400) for headers
$montserrat: 'Montserrat', Helvetica, sans-serif;

// Open Sans (300) for body copy
$open-sans: 'Open Sans', Helvetica, sans-serif;

// Colors
$white: #fff;
$black: #000;
$gray: #555;
$blue: #268bd2;
$orange: #d28445;
$pomegranate: #c0392b;
