// Monospace fonts for code
$monospace: Menlo, Monaco, monospace;

// Montserrat (400) for headers
$montserrat: 'Montserrat', Helvetica, sans-serif;

// Open Sans (300) for body copy
$open-sans: 'Open Sans', Helvetica, sans-serif;

// Colors
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$blue-grey: rgba(96, 125, 139, 1);
$geismar-blue: rgba(43, 90, 172, 1);
$blue: rgba(33, 150, 243, 1);
$red: rgba(244, 67, 54, 1);
