// Use system UI fonts already available on the user's machine to avoid loading
// web fonts. This approach is not future-proof. The lists below need to be updated
// when system UI fonts change.
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$blue-grey: rgba(96, 125, 139, 1);
$geismar-blue: rgba(43, 90, 172, 1);
$blue: rgba(33, 150, 243, 1);
$red: rgba(244, 67, 54, 1);
