$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$primary-text: hsla(0, 0%, 0%, 0.87);
$secondary-text: hsla(0, 0%, 0%, 0.54);

$primary-background: hsla(0, 100%, 100%, 1);
$secondary-background: hsla(0, 0%, 0%, 0.1);

* {
  box-sizing: border-box;
}

html {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

body {
  color: $primary-text;
  background-color: $primary-background;
  text-rendering: optimizeLegibility;
}

a {
  color: $primary-text;
  text-decoration: none;
  border-bottom: 1px dashed $primary-text;
}
a:hover,
a:focus {
  border-bottom-style: solid;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  padding: 1rem;
  margin: auto;

  a {
    border: 0;
  }
  a:hover,
  a:focus {
    color: $secondary-text;
    border-color: $secondary-text;
  }
}

.header nav a {
  margin-right: 0.25rem;
}

.main {
  max-width: 40rem;
  padding: 1rem;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: normal;

  a {
    border: 0;
  }
  a:hover,
  a:focus {
    color: $secondary-text;
    border-color: $secondary-text;
  }
}
h1 {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.date {
  display: block;
  margin-bottom: 1rem;
  color: $secondary-text;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

code,
pre {
  font-family: $monospace;
  // disables kerning and ligatures for inline code and code blocks
  text-rendering: optimizeSpeed;
}
code {
  font-weight: 700;
  font-size: 90%;
}
pre {
  font-weight: 400;
  display: block;
  // margin-top: 0;
  // margin-bottom: 1rem;
  // padding: 1rem;
  font-size: .8rem;
  // line-height: 1.4;
  // Allows most browsers to provide scrollbars if content overflows the boundaries
  // of the code block.
  // overflow: auto;
  // Indicates that lines may only break at normal word break points.
  // word-wrap: normal;
  // Sequences of whitespace are preserved. Lines are only broken at newline
  // characters in the source and at <br> elements.
  // white-space: pre;
  // Uncomment for rounded edges on code blocks.
  // border-radius: 4px;
  // background-color: $secondary-background;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $secondary-text;
  border-left: .25rem solid $secondary-background;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img, video {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
}
th,
td {
  padding: 0.3rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
  text-align: left;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid $secondary-background;
  border-bottom: 1px solid $primary-background;
}

@media not print {
  .print-resume-intro {
    display: none;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  .content {
    max-width: 100%;
    // vertical | horizontal
    margin: 0rem 3rem;
    padding: 0;
  }

  .sidebar,
  .web-resume-intro {
    display: none;
  }
}
