@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/diff-highlight/prism-diff-highlight.css';
@import 'asciinema-player/dist/bundle/asciinema-player.css';

$sans-serif:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospace:
  'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$darker: #272822;
$dark: #7c7c79;
$light: #bfbfbf;
$lighter: #f8f8f2;

$body-width: 45rem;

* {
  box-sizing: border-box;
}

html {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

body {
  color: $lighter;
  background-color: $darker;
  text-rendering: optimizeLegibility;
}

a {
  color: $lighter;
  text-decoration: none;
  border-bottom: 1px dashed $lighter;

  &:hover,
  &:focus {
    border-bottom-style: solid;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  max-width: $body-width;
  padding: 1rem;
  margin: auto;

  a {
    border: 0;

    &:hover,
    &:focus {
      color: $light;
    }
  }

  nav a {
    margin-right: 0.25rem;
  }
}

#main {
  max-width: $body-width;
  padding: 1rem;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: normal;

  a {
    border: 0;

    &:hover,
    &:focus {
      color: $light;
    }
  }
}
h1 {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.8rem;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.date {
  display: block;
  margin-bottom: 1rem;
  color: $light;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

code,
pre {
  font-family: $monospace !important;
  font-weight: 400;
  font-size: 0.9rem;
  // disables kerning and ligatures for inline code and code blocks
  text-rendering: optimizeSpeed;
}

.highlight {
  margin-bottom: 1rem;
  overflow: auto;
}

blockquote {
  color: $light;
  border-left: 0.25rem solid $dark;
  padding-left: 1rem;
  padding-right: 1rem;
}

img,
video,
div.ap-wrapper {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
th,
td {
  padding: 0.25rem;
  border-top: 1px solid $dark;
  text-align: left;
}

hr {
  border: 0;
  border-top: 1px solid $dark;
  margin-bottom: 1rem;
}

#about {
  h1 {
    margin-bottom: 1rem;
  }
}

@media not print {
  .print,
  #contact,
  #contact ~ * {
    display: none;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  body {
    color: #000;
  }

  a {
    color: #000;
    border: 0;
  }

  #header,
  .noprint {
    display: none;
  }

  #main {
    max-width: 100%;
    // Uncomment for 0.5 inch margins. Browsers may do this by default when printing.
    // margin: 4rem;
    padding: 0;
  }
}
