<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ block "description" . }}{{ .Site.Params.description }}{{ end }}">

    {{ $mainScss := resources.Get "scss/main.scss" }}
    {{ $syntaxScss := resources.Get "scss/syntax.scss" }}
    {{ $asciinemaScss := resources.Get "scss/asciinema-player.scss" }}
    {{ $cssOpts := (dict "targetPath" "main.css" "outputStyle" "compressed" ) }}
    {{ $css := slice $mainScss $syntaxScss $asciinemaScss | resources.Concat "main.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
    <link href="{{ $css.Permalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.1.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.1.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.1.png" | absURL }}">
    <link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
    <link rel="mask-icon" href="{{ "safari-pinned-tab.1.svg" | absURL }}" color="#272822">
    <link rel="shortcut icon" href="{{ "favicon.1.ico" | absURL }}">
    <meta name="msapplication-TileColor" content="#272822">
    <meta name="theme-color" content="#272822">

    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  <body>
    <header id="header">
      <div>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div>
      <nav>
        <a href="{{ "about/" | absURL }}">About</a>
        <a href="https://github.com/rlucioni">GitHub</a>
      </nav>
    </header>

    <div id="main">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ $mainJs := resources.Get "js/main.min.js" }}
    {{ $asciinemaJs := resources.Get "js/asciinema-player.js" }}
    {{ $js := slice $mainJs $asciinemaJs | resources.Concat "main.js" | minify | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  </body>
</html>
