<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ if .Site.IsServer }}
    {{ $cssOpts := (dict "targetPath" "main.css" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
    {{ else }}
    {{ $cssOpts := (dict "targetPath" "main.css" "outputStyle" "compressed" ) }}
    {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
    {{ end }}
  </head>
  <body>
    <div>
      <div>
        <a href="{{ "/" | absURL }}">{{ .Site.Title }}</a>
      </div>
      <nav>
        <a href="{{ "/" | absURL }}">Home</a>
        <a href="{{ "/" | absURL }}">About</a>
        <a href="{{ "/" | absURL }}">Projects</a>
        <a href="https://github.com/rlucioni">GitHub</a>
      </nav>
    </div>

    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}
  </body>
</html>
