<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $cssOpts := (dict "targetPath" "main.css" "outputStyle" "compressed" ) }}
    {{ $css := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
    <link href="{{ $css.Permalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}">
  </head>
  <body>
    <header class="header">
      <div>
        <a href="{{ "/" | absURL }}">{{ .Site.Title }}</a>
      </div>
      <nav>
        <a href="{{ "/" | absURL }}">Home</a>
        <a href="{{ "/" | absURL }}">About</a>
        <a href="{{ "/" | absURL }}">Projects</a>
        <a href="https://github.com/rlucioni">GitHub</a>
      </nav>
    </header>

    <div class="main">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ $console := resources.Get "js/console.js" }}
    {{ $js := slice $console | resources.Concat "main.js" | minify | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  </body>
</html>
