{% extends "base.html" %}
{% set active_item = "index" %}

{% block description %}Renzo Lucioni's personal website, portfolio, and writings, often about data visualization and software development.{% endblock description %}

{% block content %}
<div class="posts">
    {% for article in articles %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ SITEURL }}/{{ article.slug }}/">
              {{ article.title }}
            </a>
        </h1>

        <span class="post-date">{{ article.date|strftime('%B %-d, %Y') }}</span>
    </div>
    {% endfor %}
</div>
{% endblock content %}
