{% extends "base.html" %}
{% set active_item = page.slug %}

{% block title %}{{ page.title|striptags }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %}

{% block content %}
<div class="page">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content }}
</div>
{% endblock content %}

{% block script %}
// Make it just a little more difficult to scrape this.
var emailLink = document.getElementById('emailLink');
if (emailLink) {
    emailLink.href = 'mailto:renzo@lucioni.xyz';
    emailLink.innerHTML = 'renzo@lucioni.xyz';
}
{% endblock script %}
