{% extends "base.html" %}
{% set active_item = "projects" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="page">
    <h1 class="page-title">Projects</h1>

    <div class="project">
        <h2 class="project-title"><a href="http://www.reddit.com/">Awesome Project</a></h2>
        <a href="http://www.reddit.com/">
            <img src="http://placehold.it/800x400">
        </a>
        <p>This is my latest project. It is awesome.</p>
    </div>

    <div class="project">
        <h2 class="project-title"><a href="http://www.reddit.com/">A Sweet Project</a></h2>
        <a href="http://www.reddit.com/">
            <img src="http://placehold.it/800x400">
        </a>
        <p>This is one of my later projects. It's pretty sweet!</p>
    </div>

    <div class="project">
        <h2 class="project-title"><a href="http://www.reddit.com/">First Project</a></h2>
        <a href="http://www.reddit.com/">
            <img src="http://placehold.it/800x400">
        </a>
        <p>This was my first project. It was cool.</p>
    </div>
</div>
{% endblock content %}
