{% extends "base.html" %}
{% set active_item = "projects" %}

{% block title %}Projects{% endblock title %}
{% block description %}Renzo Lucioni's personal projects.{% endblock description %}

{% block content %}
<div class="page">
    <h1 class="page-title">Projects</h1>

    {% for project in PROJECTS %}
    <div class="project">
        <h2 class="project-title"><a href="{{ project.get('link') }}">{{ project.get('title') }}</a></h2>
        <a href="{{ project.get('link') }}">
            <img src="{{ project.get('image_path') }}">
        </a>
        <p>{{ project.get('description') }}</p>
    </div>
    {% endfor %}

</div>
{% endblock content %}
