{% extends "base.html" %}
{% set active_item = "projects" %}

{% block title %}Projects{% endblock title %}
{% block description %}Renzo Lucioni's personal projects.{% endblock description %}

{% block content %}
<div class="page">
    <h1 class="page-title">Projects</h1>
    <p>These are some projects I've worked on recently. You can find a complete listing on <a href="{{ GITHUB_URL }}">GitHub</a>.</p>

    {% for project in PROJECTS %}
    <div class="project">
        <h2 class="project-title">
            <a href="{{ project.link }}">{{ project.title }}</a>
        </h2>
        <p>{{ project.description }}</p>
    </div>
    {% endfor %}

</div>
{% endblock content %}
