{{/* https://github.com/asciinema/asciinema-player/releases/latest */}}
{{/* record with terminal at 80 columns! */}}
{{ $castName := .Get 0 }}
{{ $cast := .Page.Resources.GetMatch (printf "*%s.cast" $castName) }}
<div id="{{ $castName }}"></div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  AsciinemaPlayer.create("{{ $cast.Permalink }}", document.getElementById("{{ $castName }}"), {
    cols: 80,
    rows: 10,
    preload: true,
    autoPlay: true,
    loop: true,
    theme: "monokai",
  });
});
</script>
